.btn_group {
  margin: 10px 0 16px 0;
}

.keep_check {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.check_icon {
  font-size: 20px;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check_icon.checked {
  color: #4caf50;
}

.keep_text {
  user-select: none;
  cursor: pointer;
  color: #888;
}

.check_icon.checked + .keep_text {
  color: #222;
}
