.btn_login {
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 0;
  color: #888;
}

.btn_login.active {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: #fff;
}

.btn_login:hover {
  cursor: pointer; /* 마우스를 올리면 손 모양 커서로 변경 */
}
