/* 공통 스타일 */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    text-align: center;
}

main {
    display: flex;
}

aside {
    width: 30%;  
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

section {
    width: 70%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

section h2, section .BoardTopOption{    
    padding-left: 1%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
}

.BoardTopOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    border-bottom: 1px solid #000;
}

.sortArea {
    display: flex;
    align-items: center;
    gap: 12px;
}

.boardTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #000;
    text-align: center;
}

thead .boardTitle {
    width: 60%;
    text-align: center;
}

tbody .boardTitle {
    width: 60%;
    text-align: left;
    padding-left:10px;
}

.boardCategory, .boardWriter, .boardDate, .boardCount {
    width: 10%;
}

.notice {
    color: red;
    font-weight: bold;
}

.writeBtn {
    width: 100px;
    height: 45px;
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageNum{
    margin: 0 5px;
    cursor: pointer;
}